#contents {
    height: 200px;
    width: 200px;
    border: 2px black solid;
    margin-left: 500px;
    margin-top: 100px;
    display: block;
  }
  
  h1 {
    display: inline;
  }
  
  #outer {
    height: 300px;
    width: 300px;
    background-color: brown;
    margin-left: 50px;
    margin-top: 50px;
  }
  
  #inner {
    height: 50px;
    width: 50px;
    /* background-color: aquamarine; */
    /* margin-left: 50px; */
    /* margin-top: 10px; */
    /* margin-top: 20px; */
  }
  
  #outer:hover #inner {
    animation: left-to-right 5s ease-in-out forwards;
    animation-iteration-count: infinite;
    cursor: pointer;
  }
  
  
  @keyframes left-to-right{
    0%{
        transform:translateX(0%);
        background-color:blue;
    }
    25%{
        transform:translateY(500%);
        background-color:red;
    }
    50%{
        transform:translateX(500%) translateY(500%);
        background-color:yellow;
    }
    75%{
        transform :  translateX(500%);
        background-color:blueviolet;
    }
    100%{
        transform:translateX(0%);
        background-color:blue;
    }
  }
  