
body{
    display:flex;
    flex-direction:row;
    align-items:center;
    text-align: center;
    flex-direction:column;
    margin:0;
    padding:0;
}
.content{
    display:flex;
    flex-direction:row;
    align-items:center;
    text-align:center;
    margin:10px;
    justify-content:space-between;
    width:70%;
    max-width:1200px;

}
.content1{
    display:flex;
    flex-direction:row;
    align-items:center;
    text-align:center;
    margin:10px;
    justify-content:space-between;
    width:70%;
    max-width:1200px;
}
.content #myid{
    display:flex;
    align-items:center;
    text-align:center;
    justify-content:center;
    height:400px;
    width:400px;
    background-color:chartreuse;

}
.content #Random_id{
    display:flex;
    align-items:center;
    text-align:center;
    justify-content:center;
    height:400px;
    width:400px;
    background-color:blue;
}
.content1 #udar{
    display:flex;
    align-items:center;
    text-align:center;
    justify-content:center;
    height:400px;
    width:400px;
    background-color:red;

}
.content1 #agni{
    display:flex;
    align-items:center;
    text-align:center;
    justify-content:center;
    height:400px;
    width:400px;
    background-color:blueviolet;
}




